.editorContainer {
  display: grid;
  grid-template-columns: 1rem minmax(0,1fr);
  grid-auto-rows: minmax(0,1fr);
  height: 100%;
  position: relative;
}

.editor{
  height: 100%;
  position: relative;
}

.inlineToolbar{
  position: fixed;
  left: -999px;
  opacity: 0;
  top: 0px;
  z-index: 5;

  padding: var(--space-8);
  background: lightblue;
}

.placeholderMenu{
  position: relative;
  min-width: 1rem;
  min-height: 1rem;
  height: min-content;
}

.linkContainer{
  display: inline-block;
}

.linkContainer .linkBox{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
