@import 'reset.css';
@import 'variable.css';

html,
body{
  height: 100%;
  width: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  background: var(--white);
}

#root{
  height: 100%;
  width: 100%;
  color: var(--gray-1);
  font-size: 2rem;
}

@import 'common.css';

code {
  font-family: monospace;
}

b, strong {
  font-weight: 700;
}

h1{
  font-size: 3.6rem;
  color: var(--gray-1);
}

h2{
  font-size: 2.8rem;
  color: var(--gray-1);
}

em{
  font-style: italic;
}

a{
  color: var(--primary-color);
}