.banner {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  padding: 0 var(--space-12);
  background: var(--white);
  height: 6rem;
  
  display: grid;
  grid-template-columns: max-content minmax(0,1fr) max-content max-content;
  grid-column-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: var(--gray-3);
  box-shadow: 0 0 5px var(--gray-3);
}

.banner img{
  cursor: pointer;
}