.container {
  display: grid;
  grid-template-rows: 6rem minmax(0, 1fr);
  height: 100%;
  width: 100%;
}

.banner {}

.contentContainer {
  padding: 0 15%;
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr) max-content;
  grid-auto-rows: minmax(0, 1fr);
  overflow: auto;
}

.editor{
  padding: var(--space-20) var(--space-8);
}

.widgetContainers{
  padding: var(--space-20);
}

.shortCuts li{
  padding: 0.5rem 1rem;
}

.publishBox{
  position: sticky;
  top: 2rem;
}

.toolBox{
  position: sticky;
  top: 2rem;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: var(--space-20);
  justify-content: center;
  font-size: 1.8rem;
  padding: var(--space-12);
}

.toolBox .tool{
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.toolBox .tool:hover{
  background: #ddd;
}